:root {
  --bodycolor: #1f1d2c;
  --btncolor: #6b5ecd;
  --divcolor: #252837;
}
body {
  background-color: var(--bodycolor);
}
.video {
  border-radius: 26px;
}
.videobar {
  margin-top: 4vh;
  margin-left: 4vw;
}
.progresbar {
  height: 8px;
  width: 640px;
  background-color: rgb(99, 72, 255);
  z-index: 5;
  border-radius: 5px;
    margin: 5px 0px;


}
.div__progresbar {
  border-radius: 5px;
}
.div-video {
  width: 640px;
}
.div__progresbar {
  width: 640px;
  background-color: rgba(0, 0, 0, 0.267);
  height: 8px;
}
.range {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#0c0140, #796aff, #06003c);
  background-size: 100%;
  background-repeat: no-repeat;
}
input[type="range"]::-webkit-slider-thumb {
  border: 2px solid #745fdf;
  height: 17px;
  width: 23px;
  border-radius: 23px;
  background: #2600ff;
  cursor: pointer;
  -webkit-appearance: none;
}
.back {
  border: none;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.188);
  border-radius: 5px;
  color: rgb(241, 241, 241);
}
.skip {
  border: none;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.188);
  border-radius: 5px;
  color: rgb(241, 241, 241);
}
.stop-button {
  border: none;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.188);
  color: rgb(241, 241, 241);

  border-radius: 5px;
}
.playercont {
  border: none;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.188);
  border-radius: 5px;
  color: rgb(241, 241, 241);
}
.btns {
  display: flex;
  justify-content: space-around;
  width: 120px;
}

.controlBar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  width: 640px;
}
.document-video {
  display: flex;
}
.related-videos {
  border-radius: 20px;
  margin-top: 4vh;
  margin-left: 20%;
  height: 95%;
  width: 35vw;
  background-color: var(--divcolor);
}
.h1-related {
  color: white;
  text-transform: capitalize;
  padding: 20px 0px 0px 20px;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
}
.hr-related {
  border: 6px dashed var(--bodycolor);
  margin: 0px 5px;
}
